@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      @apply font-primary bg-primary text-black leading-loose;
  }
  .h1 {
      @apply text-[38px] xl:text-[58px] leading-[1.1] font-semibold;
  }
  .h2 {
      @apply text-[28px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
      @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
      -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover{
      -webkit-text-stroke: 1px black;
  }
}

/* Custom background with GIF */
.bg-full-minus-header {
    height: calc(100vh); /* Adjust `4rem` to match your header height */
    width: 100vw; /* Ensure full viewport width */
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .bg-gif-background {
    background-image: url("/assets/temp.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @keyframes slow-move {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
  
  .animate-slow-move {
    animation: slow-move 30s linear infinite;
  }